.leaders {
  width: 80%;
  color: #959595;
  max-width: 600px;
  .leaders_title {
    margin-bottom: 40px;
  }
  .leaders_item {
    width: 100%;
    background-color: #cfd8dc;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    .leaders_item-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}





// // Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .leaders {
    width: 90%;
    .leaders_item {
      font-size: 1.1rem;
    }
  }
}
@media (max-width: 992px) {
  .leaders {
    width: 100%;
    .leaders_item {
      font-size: 1.1rem;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

@media (max-width: 575.98px) {
  .leaders {
    .leaders_item {
      font-size: 1rem;
    }
  }
}
@media (max-width: 414px) {
  .leaders {
    
    .leaders_item {
      font-size: 0.9rem;
    }
  }
}
