.btn {
  border: 2px solid #f2f2f3;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
.btn:focus {
  outline: none;
}
.btn-blue {
  background-color: #5cd8e8;
}
.btn-green {
  background-color: #6ce973;
}
.btn-red {
  background-color: #e85a5f;
}
.btn-small{
  width: 60px;
  height: 60px;
}
.btn-medium{
  width: 50px;
  height: 50px;
}
.btn-large{
  width: 35px;
  height: 35px;
}


@media (max-width: 1250.98px) { 

  .btn-medium{
    width: 35px;
    height: 35px;
  }
  .btn-large{
    width: 30px;
    height: 30px;
  }
 
 
 }
 @media (max-width: 1100px) { 

  .btn-large{
    width: 25px;
    height: 25px;
  }
 
 
 }
@media (max-width: 575.98px) { 
  .btn-small{
    width: 45px;
    height: 45px;
  }
  .btn-medium{
    width: 35px;
    height: 35px;
  }
  .btn-large{
    width: 17px;
    height: 17px;
  }
 }
 @media (max-width: 330px) { 
  .btn-small{
    width: 35px;
    height: 35px;
  }
  .btn-medium{
    width: 25px;
    height: 25px;
  }
  .btn-large{
    width: 17px;
    height: 17px;
  }
 }

